<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OrgHRM">
  <test thread-count="5" name="TestSuite">
    <classes>
      <class name="testNG.EmpReg_TestNG"/>
      <class name="testNG.UserReg_TestNG"/>
    </classes>
  </test> <!-- TestSuite -->
</suite> <!-- OrgHRM -->
